body{font-family:Arial, sans-serif;background:grey;}
#page{width:1000px;background:url(../images/body-bg.png) #cecfc7 repeat-x top left;margin:0 auto;}
#page-in{margin:0 15px;}
#page-in.bg1{background:url(../images/page_in-bg1.jpg) #fff no-repeat top left;}
#page-in.bg2{background:url(../images/page_in-bg2.jpg) #fff no-repeat top left;}
#header #searchfield{width:100px;height:14px;background:#d9e7c6;font-size:12px;border:none;position:absolute;top:17px;left:17px;}
#header #search h3{font-size:14px;font-weight:700;color:#2a4815;margin-top:-6px;margin-left:20px;}
#header #search{position:relative;float:right;background:url(../images/kereses.png) top left no-repeat;width:160px;height:50px;margin-right:0;margin-top:10px;}
#header #lang{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #8CB074;position:relative;float:right;width:38px;height:43px;margin-top:12px;}
#header #lang a{padding:1px;}
h3{font-size:16px;font-weight:700;color:#2a4815;}
#content{font-size:12px;overflow:hidden;position:relative;padding:78px 20px 0;}
#left{width:200px;display:inline-block;vertical-align:top;}
#left .box{line-height:20px;padding:20px 0 20px 20px;}
#left #specials{height:100px;min-height:100px;text-align:left;padding:20px 0 20px 50px;}
#special_thumbnail{max-height:75px;max-width:100px;padding:4px;border:solid;border-color: #dddddd #aaaaaa #aaaaaa #dddddd;border-width: 1px 1px 1px 1px;background-color:white;} 
#left #login-box{background:url(../images/login.jpg) no-repeat top left;margin-top:30px;padding-top:35px;}
#left #login-box h3{margin-bottom:25px;}
#left #login-box ul{margin-top: 30px; margin-left: -20px;}
#left #login-box ul li{text-align: center;}
#left #login-box ul li a{color: white;}
div.loginform{margin-top:10px;text-align:center;}
#left #login-box form input,#left #login-box form select{width:167px;border:1px solid #2E5617;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:3px 0;padding:1px;}
#left #booking{background:url(../images/booking.jpg) no-repeat top left;min-height:190px;}
#left #booking form{padding-top:30px;}
#left #booking form input,#left #booking form select{width:167px;border:1px solid #946a08;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:3px 0;padding:1px;}
#left #webshop{background:url(../images/webaruhaz.jpg) no-repeat top left;color:#FFF;line-height:1.2em;min-height:210px;}
#left #webshop a{color:#ffca00;text-decoration:none;font-size:12px;display:block;margin-top:115px;line-height:1.5em;}
#right{width:170px;display:inline-block;vertical-align:top;margin-top:220px;}
#right-in{padding:10px;}
#right #guestbook h3{background:url(../images/vendegkonyv.jpg) no-repeat top left;padding:20px 20px 2px;}
#right #guestbook h4{color:#75a352;font-size:14px;font-weight:400;padding:0 0 3px 19px;}
#right #guestbook a{color:#e19805;font-size:12px;font-weight:400;padding:0 0 0 19px;}
#right #guestbook{background:url(../images/vendegkonyv.jpg) no-repeat bottom left;padding-bottom:110px;}
#right #guestbook .guestpost{padding:15px 10px 0 20px;}
#right #guestbook .guestpost a{color:#6cba2e;display:block;font-weight:700;padding:0 0 2px;}
#right #guestbook .guestpost .date{color:#eab105;font-size:10px;}
#right #downloads h3{background:url(../images/ures_dobozkeret.jpg) no-repeat top left;padding:20px;}
#right #downloads{background:url(../images/ures_dobozkeret.jpg) no-repeat bottom left;padding-bottom:20px;}
#right #downloads a{margin-left:15px;padding-left:35px;display:block;height:50px;line-height:1.3em;width:0px;}
#main{padding-top:138px;display:inline-block;vertical-align:top;width:530px;min-height:800px;margin:0 10px 100px;}
#main h1{width:400px;font-size:20px;margin-bottom:15px;}
#main h2{font-size:16px;line-height:30px;color:#6cba2e;font-weight:400;margin-bottom:10px;}
#main h3{font-weight:700;color:#e19805;font-size:12px;padding:10px 0px 15px 0px;}
#main a{color:#325619}
#main .article img{border:1px solid #000;margin-right:20px;float:left;padding:5px;}
#main .article{overflow:hidden;margin-bottom:30px;z-index:2;position:relative;}
#main .article p{line-height:18px;font-size:12px;}
#main .article div.hosszutablazat{overflow-x:scroll;overflow-y:hidden;}
#main .article a{color:#325619;}
#main .article a.more{line-height:18px;display:block;color:#6cba2e;font-weight:700;}
#main .article ul{list-style:disc outside none;padding-left:25px;}
#main .article.route {-webkit-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px; border: 1px solid #EDEDED; border-top: 0; margin-top: -1px; padding: 0px 20px 20px 20px;}
#main div.route-head {background:url(../images/article-top.png) no-repeat; margin: 5px 0 0 0;}
#main div.route-head h3 {position: relative; top: -5px; left: 20px;}
#bottom{clear:both;background:url(../images/bottom.jpg) no-repeat bottom left;overflow:hidden;}
#bottom_menus{font-size:11px;line-height:16px;padding-top:15px;overflow:hidden;}
#bottom_menus li{display:block;float:left;}
#bottom_menus li a{color:#153006;font-weight:700;text-decoration:none;border-bottom:1px solid #6f895b;margin:10px 10px 3px;padding:2px 10px;}
#bottom_menus li ul li{display:block;float:none;}
#bottom_menus li ul li a{color:#FFF;font-weight:400;text-decoration:none;border:none;}
#bottom_menus li ul li a:hover{color:#EAB105;}
#bottom_menus li ul li a:before{content:" - ";}
#footer{height:40px;clear:both;color:#9aaa88;font-size:10px;line-height:14px;margin:0 20px;}
#footer ul{font-size:11px;color:#FFF;margin:10px 0;}
#footer li{float:left;display:block;padding-right:10px;}
#footer li a{color:#eab105;}
.box form{margin-left:-5px;}
.box ul{margin:15px 0;}
.box a{color:#6cba2e;}
.box a.selected{color:#e19805;text-decoration:none;}
#left #lastminute{height:80px;position:relative;}
#left #lastminute a{color:#6cba2e;font-weight:700;text-decoration:underline;}
#left #lastminute img{position:absolute;border:1px solid #d1d0d0;bottom:-6px;left:52px;background:#FFF;padding:3px;}
#foobar{background:url(../images/page_in-btm.jpg) bottom left no-repeat;bottom:20px;left:20px;width:970px;height:72px;margin:-20px;}
.cake-sql-log table{background:#f4f4f4;}
.cake-sql-log td{text-align:left;font-family:Monaco, Consolas, "Courier New", monospaced;padding:4px 8px;}
.cake-sql-log caption{color:#fff;}
form{clear:both;margin-right:20px;width:95%;padding:0;}
fieldset{border:0;border-top:1px solid #ccc;margin-bottom:1em;padding:5px 20px;}
fieldset legend{font-size:120%;font-weight:700;padding:5px;}
fieldset fieldset{margin-top:0;margin-bottom:20px;padding:16px 10px;}
fieldset fieldset legend{font-size:120%;font-weight:400;}
fieldset fieldset div{clear:left;margin:0 20px;}
form div{clear:both;vertical-align:text-top;}
form .input{color:#444;}
form .required label:after{color:#e32;content:'*';display:inline;}
form div.submit{border:0;clear:both;margin-top:10px;}
label{width:150px;display:inline-block;}
div.message{border:2px solid #B04242;color:#600;-moz-border-radius:12px;-moz-box-shadow:0 2px 4px rgba(0,0,0,0.7);position:relative;text-align:left;background:#F6D4D7 url(../images/icon-error-large.png) top left no-repeat;margin:20px;padding:15px 15px 15px 80px;}
div.message.good{background:#E0FFC7 url(../images/icon-success-large.png) top left no-repeat;border:2px solid #459A2A;color:#2A4F0B;}
div.message.warn{background:#FEEFB3 url(../images/icon-warning-large.png) 10px 0 no-repeat;border:2px solid #CE8214;color:#CE8619;}
div.error-message{display:inline-block;clear:both;font-weight:700;color:#600;text-align:right;}
div.guestbook_post{width:100%;border-bottom:1px dotted #000;margin:10px 0;padding:10px 0;}
div.guestbook_post td.left{width:150px;max-width:150px;}
div.guestbook_post td.left span{color:#2A4815;font-weight:700;}
div.guestbook_post td.right{text-align:justify;}
input[type=submit]{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:1px solid #2A4815;background-color:#F5F5F5;padding:2px 5px;}
input[type=submit]:hover{background-color:#FDCA00;}
div.route-teaser div.left img{width:150px;height:100px;}
table.route-table tr td.title{font-weight:700;padding:5px 10px;}
div.tour-teaser{background-color:#F4F7EF;margin:20px 0;}
div.tour-teaser div.left{padding:5px 10px;}
div.tour-teaser div.left td.title{font-weight:700;padding-right:10px;}
div.tour-teaser div.left td.image{vertical-align:bottom;width:auto;}
div.tour-teaser div.left td.image img{width:150px;height:100px;float:right;margin:10px 10px 10px 40px;}
input.service_input{width:30px;}
div#booking_final_price{font-size:16px;font-weight:700;color:green;}
table.zebra{width:100%;}
table.zebra thead tr th{text-align:left;background-color:#D9E7C6;padding:5px 2px;}
table.zebra tr td{text-align:left;padding:5px;}
table.zebra tfoot tr td{text-align:left;background-color:#E4EFD5;font-weight:700;padding:5px 2px;}
.flag{width:16px;height:11px;background:url(../images/flags.png) no-repeat;}
.flag.flag-de{background-position:-16px 0;}
.flag.flag-gb{background-position:-32px 0;}
.flag.flag-hu{background-position:0 -11px;}
.flag.flag-ro{background-position:-16px -11px;}
.icon{background:url(../images/icons.png) no-repeat;}
.icon.fogaskerek{ background-position: 0 0; width: 33px; height: 33px; } 
.icon.gps{ background-position: -38px 0; width: 33px; height: 34px; } 
.icon.tajkep{ background-position: -76px 0; width: 33px; height: 34px; } 
.icon.terkep{ background-position: -114px 0; width: 33px; height: 35px; } 
#left #login-box form div.input,#left #login-box form div.submit,#left #booking form div.input,#left #booking form div.submit,div.loginform div{padding:0;}
form .required,span.title{font-weight:700;}
div.route-teaser,div.paging{margin:20px 0;}
div.route-teaser div.left,div.route-teaser div.right{display:inline;}
div.tour-teaser div.top,div.tour-teaser div.bottom{text-align:right;vertical-align:middle;background-color:#D9E7C6;padding:5px;}
div.PassengerDataContainter:nth-child(odd),table.zebra tr:nth-child(even) td{background-color:#F4F7EF;border-top:1px solid #D9E7C6;border-bottom:1px solid #D9E7C6;}
table.zebra tr td.right,table.zebra tfoot tr td.right{text-align:right;}